<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gdsc.sogongsogong">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.Sogongsogong">

        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.join.JoinActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".ui.search.BoardSearchActivity"
            android:exported="true" />

    </application>
</manifest>